## Домашнее задание к лекции.

# Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [251]:
import pandas as pd

In [2]:
df_film = pd.read_csv('movies.csv')
df_film.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [199]:
df_rating = pd.read_csv('ratings.csv')
df_rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [145]:
def rating_film (row):
    if row ['rating'] <= 2:
        return 'низкий рейтинг'
    elif row ['rating'] <= 4:
        return 'средний рейтинг'
    return 'высокий рейтинг'

In [146]:
df_rating['class'] = df_rating.apply(rating_film, axis=1)
df_rating.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  средний рейтинг
1       1        3     4.0  964981247  средний рейтинг
2       1        6     4.0  964982224  средний рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг


# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [252]:
#имопортируем файл
df_keywords = pd.read_csv('keywords.csv')
df_keywords.head(20)

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
5   одноклассники моя страница  19976138
6                         майл  15144673
7                        авито  14786593
8                   переводчик  14453469
9                       яндекс  13344734
10             сбербанк онлайн  10725673
11                        mail   7687204
12                        игры   6075762
13                     youtube   5729958
14      вконтакте моя страница   5971451
15                        секс   5431732
16                        гугл   5175471
17                          dr   4880955
18                 алиэкспресс   4879645
19                     рамблер   4540421

In [253]:
geo_data = {'Центр': ['тула', 'москва', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [364]:
def region_geo (row):
    """функция циклом находит значение города в словаре geo_data.
        ищет это значение в ключевом слове (столбец 'keyword') переданного дата фрейма keywords.csv 
        если значение города найдено в ключевом слове, создает новый столбец 'region' в дата фрейме.
        В случе найденного соответвия в столбец записывает значение ключа словаря.
        В случае отсутствия - записывает 'undefined"""
    for k, val in geo_data.items():
        for town in val:
            if town not in row['keyword']:
                row['region'] = 'undefined'
            else:
                row['region'] = k
                
                return row 
    return row

In [363]:
df_keywords_hw = df_keywords.apply(region_geo, axis=1)

In [361]:
#Проверка str.contains 
df_keywords_hw[ df_keywords_hw['keyword'].str.contains('мурманск', case=False)]

                                                 keyword  shows        region
2398                                      авито мурманск  89787  Северо-Запад
5026                            авито мурманская область  48756  Северо-Запад
8977                                            мурманск  29984  Северо-Запад
9945                                  погода в мурманске  28100  Северо-Запад
17975                                  гисметео мурманск  16928  Северо-Запад
18087                               мкап работа мурманск  17002  Северо-Запад
18472                       погода в мурманске на неделю  16865  Северо-Запад
22988                                    погода мурманск  17908  Северо-Запад
24845           авито авто с пробегом мурманск и область  12775  Северо-Запад
27548                                 работа в мурманске  11691  Северо-Запад
36089                                 киноафиша мурманск   9581  Северо-Запад
36686                      расписание автобусов мурманск   9268  Северо-Запад
48964                                  аэропорт мурманск   8098  Северо-Запад
56338                                  новости мурманска   6162  Северо-Запад
78094                     курсы валют в банках мурманска   4635  Северо-Запад
83368                                 мурманская область   4304  Северо-Запад
84400                                    мурманск погода  17908  Северо-Запад
85594                     запись к врачу онлайн мурманск   4347  Северо-Запад
85646                              мираж синема мурманск   4394  Северо-Запад
87300  центр занятости мурманск вакансии официальный ...   4189  Северо-Запад
88619   погода в мурманске на неделю на норвежском сайте   4150  Северо-Запад
90635                       днс мурманск каталог товаров   4030  Северо-Запад
96314                                   кино в мурманске   4136  Северо-Запад
97288                 мвидео в мурманске каталог товаров   3753  Северо-Запад
97349                             спорт и отдых мурманск   3791  Северо-Запад
97613                                   би порт мурманск   3723  Северо-Запад
99634               северпост новости мурманской области   3606  Северо-Запад
99808                  полармед мурманск запись на прием   3719  Северо-Запад