### Задание 2 
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity

In [72]:
import pandas as pd

In [3]:
#Импортируем файл power.csv
data_power = pd.read_csv('power.csv')
data_power.head(10)

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1
5  Belgium  2011      25.0         1
6  Belgium  2010      22.0         1
7  Belgium  2009      45.0         1
8  Czechia  1998       1.0         1
9  Czechia  1995       7.0         1

In [46]:
#Найдем значения стран при момощи метода str.contains
data_power[ data_power['country'].str.contains('lit', case=False)]['country'].unique()

array(['Lithuania'], dtype=object)

In [47]:
data_power[ data_power['country'].str.contains('lat', case=False)]['country'].unique()

array(['Latvia'], dtype=object)

In [49]:
data_power[ data_power['country'].str.contains('sto', case=False)]['country'].unique()

array(['Estonia'], dtype=object)

In [50]:
def pribaltic (country):
    """опеределение при надлежности страны к странам прибалтики по наименованию"""
    
    if country in ['Lithuania', 'Latvia', 'Estonia']:
        return 'Baltics'
    return 'not the Baltics'

In [5]:
#добавим столбец, определяющий принадлежность к странам Балтики путем применения функции pribaltic к столбцу country
data_power['baltic'] = data_power.country.apply(pribaltic)

In [6]:
#Посмотрим результат применения функции. Столбец добавился
data_power.head()

   country  year  quantity  category           baltic
0  Austria  1996       5.0         1  not the Baltics
1  Austria  1995      17.0         1  not the Baltics
2  Belgium  2014       0.0         1  not the Baltics
3  Belgium  2013       0.0         1  not the Baltics
4  Belgium  2012      35.0         1  not the Baltics

In [7]:
#cоздаем новый ДФ только со странами прибалтики и убираем отрицательные значения по quantity
data_baltic = data_power[(data_power['baltic'] == 'Baltics') & (data_power['quantity'] >= 0)]

In [8]:
data_baltic.head(10)

       country  year  quantity  category   baltic
373  Lithuania  2014      39.0         1  Baltics
374  Lithuania  2013     192.0         1  Baltics
375  Lithuania  2012     196.0         1  Baltics
376  Lithuania  2011     171.0         1  Baltics
377  Lithuania  2010     158.0         1  Baltics
378  Lithuania  2009     158.0         1  Baltics
379  Lithuania  2008     100.0         1  Baltics
380  Lithuania  2007     105.0         1  Baltics
956  Lithuania  2014       0.0         1  Baltics
957  Lithuania  2013       0.0         1  Baltics

In [9]:
#Фильтруем столбцы по году от 2005 по 2010
data_baltic_year = data_baltic[ (data_baltic['year'] < 2010) & (data_baltic['year'] > 2005) ]

In [51]:
data_baltic_year

           country  year  quantity  category   baltic
378      Lithuania  2009     158.0         1  Baltics
379      Lithuania  2008     100.0         1  Baltics
380      Lithuania  2007     105.0         1  Baltics
961      Lithuania  2009       3.0         1  Baltics
962      Lithuania  2008       9.0         1  Baltics
...            ...   ...       ...       ...      ...
1188840     Latvia  2006      46.0        71  Baltics
1188856  Lithuania  2009     158.0        71  Baltics
1188857  Lithuania  2008     131.0        71  Baltics
1188858  Lithuania  2007     106.0        71  Baltics
1188859  Lithuania  2006      14.0        71  Baltics

[5479 rows x 5 columns]

In [30]:
#Задаем условия фильтрации по категориям 4, 12, 24
data_baltic_itog = data_baltic_year[(data_baltic_year['category'] == 4) | (data_baltic_year['category'] == 12) | (data_baltic_year['category'] == 21)]

In [31]:
#Расчитываем суммарное потребление с учетом ранее заданных условий:
Для стран прибалтики за 2005-2010гг всех указанных категорий (4,12,21)
data_baltic_itog['quantity'].sum()

164555.0

In [43]:
data_baltic_itog.sort_values(['category']).head(100)

          country  year  quantity  category   baltic
10617     Estonia  2008       1.0         4  Baltics
18220   Lithuania  2006       1.0         4  Baltics
19854     Estonia  2008       1.0         4  Baltics
19855     Estonia  2007       0.0         4  Baltics
19856     Estonia  2006       3.0         4  Baltics
...           ...   ...       ...       ...      ...
104821  Lithuania  2007      74.0        12  Baltics
104822  Lithuania  2006       1.0        12  Baltics
104143  Lithuania  2008       1.0        12  Baltics
105475  Lithuania  2007       1.0        12  Baltics
109220  Lithuania  2008       1.0        12  Baltics

[100 rows x 5 columns]

In [55]:
#Суммарное потребление стран прибалтики 4-й категории
data_baltic_itog_4 = data_baltic_year[ (data_baltic_year['category'] == 4) ]
data_baltic_itog_4['quantity'].sum()

24.0

In [56]:
#Суммарное потребление стран прибалтики 12-й категории
data_baltic_itog_12 = data_baltic_year[ (data_baltic_year['category'] == 12) ]
data_baltic_itog_12['quantity'].sum()

5363.0

In [57]:
#Суммарное потребление стран прибалтики 21-й категории
data_baltic_itog_21 = data_baltic_year[ (data_baltic_year['category'] == 21) ]
data_baltic_itog_21['quantity'].sum()

159168.0

### Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [58]:
data_movies = pd.read_csv('movies.csv')
data_ratigs = pd.read_csv('ratings.csv')

In [59]:
data_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [62]:
data_ratigs.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [60]:
filtr_data = data_ratigs[ data_ratigs['rating'] == 5]
filtr_data.head()

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [63]:
filtr_data['movieId'].value_counts().sort_values(ascending=False)

318      153
296      123
356      116
2571     109
260      104
        ...
1150       1
3223       1
1416       1
1590       1
83969      1
Name: movieId, Length: 2954, dtype: int64

In [64]:
movies = data_movies[ data_movies['movieId'] == 318]

In [65]:
movies['title']

277    Shawshank Redemption, The (1994)
Name: title, dtype: object

### Задание 3
Задание 3 Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): https://fortrader.org/quotes www.finanz.ru...om-vremeni

In [87]:
smart_list = pd.read_html('https://smart-lab.ru/q/ofz/')[0]

In [88]:
smart_list

,№,Unnamed: 1,Имя,Unnamed: 3,Погашение,Лет допогаш.,Доходн,!,Год.куп.дох.,Куп.дох.посл.,Цена,"Объем,млн руб","Купон, руб","Частота,раз в год","НКД, руб","Дюр-я, лет",Дата купона,Unnamed: 17,Unnamed: 18
0,1,18:36:17,ОФЗ 26237,NaN,2029-03-14,7.1,9.5%,NaN,6.70%,7.74%,86.600,1 223.7,33.41,2,25.33,5.51,2022-03-23,+,+
1,2,18:39:09,ОФЗ 26209,NaN,2022-07-20,0.5,9.7%,NaN,7.60%,7.66%,99.190,1 049.5,37.90,2,3.96,0.46,2022-07-20,+,+
2,3,18:35:49,ОФЗ 26239,NaN,2031-07-23,9.5,9.4%,NaN,6.90%,8.06%,85.650,255.3,34.41,2,0.95,6.90,2022-08-03,+,+
3,4,18:37:52,ОФЗ 26234,NaN,2025-07-16,3.5,9.5%,NaN,4.50%,5.22%,86.160,248.6,22.44,2,2.34,3.21,2022-07-20,+,+
4,5,18:37:15,ОФЗ 26229,NaN,2025-11-12,3.8,9.5%,NaN,7.15%,7.66%,93.330,237.8,35.65,2,16.06,3.31,2022-05-18,+,+
5,6,18:34:56,ОФЗ 24020,NaN,2022-07-27,0.5,0.0%,ПК,0.00%,NaN,99.998,225.0,0.00,4,2.75,NaN,2022-04-27,+,+
6,7,18:38:16,ОФЗ 26228,NaN,2030-04-10,8.2,9.5%,NaN,7.65%,8.42%,90.898,196.3,38.15,2,23.06,5.99,2022-04-20,+,+
7,8,18:39:26,ОФЗ 26215,NaN,2023-08-16,1.5,9.6%,NaN,7.00%,7.24%,96.697,190.4,34.90,2,33.17,1.43,2022-02-16,+,+
8,9,18:33:15,ОФЗ 26235,NaN,2031-03-12,9.1,9.5%,NaN,5.90%,7.40%,79.770,188.7,29.42,2,22.31,6.73,2022-03-23,+,+
9,10,18:37:01,ОФЗ 26212,NaN,2028-01-19,6.0,9.5%,NaN,7.05%,7.84%,89.867,173.5,35.15,2,2.32,4.91,2022-07-27,+,+
10,11,18:38:24,ОФЗ 26227,NaN,2024-07-17,2.5,9.5%,NaN,7.40%,7.72%,95.900,154.7,36.90,2,3.85,2.28,2022-07-20,+,+
11,12,18:39:24,ОФЗ 26207,NaN,2027-02-03,5.0,9.5%,NaN,8.15%,8.53%,95.505,135.1,40.64,2,40.19,4.03,2022-02-09,+,+
12,13,18:39:57,ОФЗ 26220,NaN,2022-12-07,0.8,9.6%,NaN,7.40%,7.52%,98.436,134.2,36.90,2,12.37,0.82,2022-06-08,+,+
13,14,18:39:56,ОФЗ 26218,NaN,2031-09-17,9.6,9.4%,NaN,8.50%,8.86%,95.920,126.3,42.38,2,30.50,6.51,2022-03-30,+,+
14,15,18:39:36,ОФЗ 26211,NaN,2023-01-25,1.0,9.6%,NaN,7.00%,7.15%,97.850,121.3,34.90,2,2.30,0.96,2022-07-27,+,+
15,16,18:37:48,ОФЗ 26236,NaN,2028-05-17,6.3,9.5%,NaN,5.70%,6.85%,83.248,96.6,28.42,2,11.71,5.21,2022-05-25,+,+
16,17,18:38:53,ОФЗ 26225,NaN,2034-05-10,12.3,9.4%,NaN,7.25%,8.42%,86.145,82.6,36.15,2,14.90,7.88,2022-05-25,+,+
17,18,18:39:06,ОФЗ 26223,NaN,2024-02-28,2.1,9.6%,NaN,6.50%,6.86%,94.782,75.5,32.41,2,28.31,1.91,2022-03-02,+,+
18,19,18:36:01,ОФЗ 29006,NaN,2025-01-29,3.0,8.4%,ПК,8.33%,8.31%,100.296,72.6,41.54,2,1.14,2.71,2022-08-03,+,+
19,20,18:39:34,ОФЗ 26219,NaN,2026-09-16,4.6,9.5%,NaN,7.75%,8.21%,94.370,71.2,38.64,2,29.30,3.84,2022-03-23,+,+
20,21,18:37:51,ОФЗ 26226,NaN,2026-10-07,4.7,9.5%,NaN,7.95%,8.36%,95.070,58.3,39.64,2,25.48,3.89,2022-04-13,+,+
21,22,18:38:49,ОФЗ 26232,NaN,2027-10-06,5.7,9.5%,NaN,6.00%,7.00%,85.699,48.3,29.92,2,19.23,4.73,2022-04-13,+,+
22,23,18:39:28,ОФЗ 26230,NaN,2039-03-16,17.2,9.3%,NaN,7.70%,8.75%,88.007,39.9,38.39,2,26.16,9.07,2022-04-06,+,+
23,24,18:39:44,ОФЗ 26233,NaN,2035-07-18,13.5,9.3%,NaN,6.10%,7.92%,77.010,34.5,30.42,2,0.84,8.75,2022-08-03,+,+
24,25,18:35:09,ОФЗ 26238,NaN,2041-05-15,19.3,9.3%,NaN,7.10%,8.64%,82.150,23.6,35.40,2,11.86,9.80,2022-06-08,+,+
25,26,18:07:48,ОФЗ 29012,NaN,2022-11-16,0.8,8.7%,ПК,6.48%,6.58%,98.511,18.3,32.31,2,14.56,0.77,2022-05-18,+,+
26,27,18:39:55,ОФЗ 26222,NaN,2024-10-16,2.7,9.5%,NaN,7.10%,7.49%,94.831,12.7,35.40,2,21.40,2.45,2022-04-20,+,+
27,28,18:39:49,ОФЗ 26240,NaN,2036-07-30,14.5,9.3%,NaN,7.00%,8.41%,83.210,11.1,44.30,2,42.57,8.40,2022-02-16,+,+
28,29,18:32:21,ОФЗ 26221,NaN,2033-03-23,11.2,9.4%,NaN,7.70%,8.58%,89.702,9.5,38.39,2,26.16,7.28,2022-04-06,+,+
29,30,18:12:40,ОФЗ 52002,NaN,2028-02-02,6.0,3.4%,ИН,2.50%,2.62%,95.440,7.6,15.02,2,14.85,5.54,2022-02-09,+,+
30,31,18:37:07,ОФЗ 25084,NaN,2023-10-04,1.7,9.5%,NaN,5.30%,5.64%,93.951,6.4,26.43,2,18.01,1.59,2022-04-06,+,+
31,32,16:10:30,ОФЗ 29016,NaN,2026-12-23,4.9,0.0%,ПК,0.00%,NaN,98.885,5.9,0.00,4,8.98,NaN,2022-03-30,+,+
32,33,18:28:25,ОФЗ 29010,NaN,2034-12-06,12.9,7.4%,ПК,8.14%,7.62%,106.825,5.4,40.59,2,10.48,8.30,2022-06-22,+,+
33,34,18:39:08,ОФЗ 26224,NaN,2029-05-23,7.3,9.5%,NaN,6.90%,7.87%,87.700,5.0,34.41,2,12.86,5.68,2022-06-01,+,+
34,35,18:25:23,ОФЗ 24021,NaN,2024-04-24,2.2,0.0%,NaN,0.00%,NaN,99.280,3.2,0.00,4,2.75,NaN,2022-04-27,+,+
35,36,18:35:16,ОФЗ 52003,NaN,2030-07-17,8.5,3.3%,ИН,2.52%,2.66%,94.709,2.1,13.75,2,0.90,7.65,2022-07-27,+,+
36,37,18:29:01,ОФЗ 46020,NaN,2036-02-06,14.1,9.3%,АД,6.90%,8.28%,83.350,0.5,34.41,2,34.03,8.13,2022-02-09,+,+
37,38,18:37:43,ОФЗ 52001,NaN,2023-08-16,1.5,3.1%,ИН,2.51%,2.53%,99.218,0.4,17.03,2,16.14,1.49,2022-02-16,+,+
38,39,18:35:24,ОФЗ 46022,NaN,2023-07-19,1.5,9.5%,АД,5.50%,5.69%,96.690,0.4,27.42,2,2.86,0.93,2022-07-20,+,+
39,40,18:29:24,ОФЗ 29007,NaN,2027-03-03,5.1,6.3%,ПК,6.46%,6.40%,101.011,0.2,32.21,2,26.90,4.31,2022-03-09,+,+
40,41,18:30:24,ОФЗ 29014,NaN,2026-03-25,4.1,0.0%,ПК,0.00%,NaN,99.001,0.1,0.00,4,8.98,NaN,2022-03-30,+,+
41,42,17:36:16,ОФЗ 46023,NaN,2026-07-23,4.5,8.7%,АД,8.16%,8.22%,99.299,0.1,16.28,2,0.98,2.34,2022-07-28,+,+
42,43,18:39:41,ОФЗ 29009,NaN,2032-05-05,10.3,7.0%,ПК,7.58%,7.23%,104.800,0.1,37.80,2,17.03,7.29,2022-05-18,+,+
43,44,17:33:57,ОФЗ 29018,NaN,2031-11-26,9.8,0.0%,ПК,0.00%,NaN,97.663,0.0,0.00,4,13.26,NaN,2022-03-09,+,+
44,45,15:02:35,ОФЗ 29020,NaN,2027-09-22,5.6,0.0%,ПК,0.00%,NaN,98.800,0.0,0.00,4,8.98,NaN,2022-03-30,+,+
45,46,18:12:21,ОФЗ 29008,NaN,2029-10-03,7.7,6.7%,ПК,7.01%,6.83%,102.662,0.0,34.95,2,22.47,5.98,2022-04-13,+,+
46,47,15:41:08,ОФЗ 46011,NaN,2025-08-20,3.6,-6.0%,АД,10.00%,7.07%,141.500,0.0,79.78,1,36.38,2.27,2022-08-24,+,+
47,48,16:57:30,ОФЗ 46012,NaN,2029-09-05,7.6,7.9%,АД,6.57%,6.95%,94.504,0.0,62.27,1,24.81,5.31,2022-09-14,+,+
48,49,14:24:16,ОФЗ 29013,NaN,2030-09-18,8.6,0.0%,ПК,0.00%,NaN,97.700,0.0,0.00,4,8.98,NaN,2022-03-30,+,+
49,50,16:59:20,ОФЗ 29019,NaN,2029-07-18,7.5,0.0%,ПК,0.00%,NaN,98.399,0.0,0.00,4,2.75,NaN,2022-04-27,+,+
50,51,17:32:59,ОФЗ 29017,NaN,2032-08-25,10.6,0.0%,ПК,0.00%,NaN,97.731,0.0,0.00,4,13.26,NaN,2022-03-09,+,+
51,52,14:19:19,ОФЗ 29015,NaN,2028-10-18,6.7,0.0%,ПК,0.00%,NaN,98.349,0.0,0.00,4,2.75,NaN,2022-04-27,+,+
52,53,11:52:22,ОФЗ 52004,NaN,2032-03-17,10.1,3.0%,ИН,2.52%,2.64%,95.485,0.0,14.42,2,10.72,8.90,2022-03-30,+,+
53,54,18:40:08,ОФЗ 25085,NaN,2025-09-24,3.6,0.0%,NaN,6.40%,NaN,NaN,NaN,31.91,2,22.97,NaN,2022-03-30,+,+
54,55,18:40:08,ОФЗ 26231,NaN,2044-07-20,22.5,0.0%,NaN,0.25%,NaN,NaN,NaN,1.25,2,1.19,NaN,2022-02-16,+,+

In [90]:
smart_list['Имя'].nunique()

55